/* Overall styling will go here */

header {
  background-color: darkblue;
  min-height: 170px;
}

#header-name {
  display: inline;
  font-family: "Tahoma", sans-serif;
  font-size: 36px;
  color: rgb(253, 189, 245);
  padding: 10px;
}

#nav-bar {
  display: inline;
  max-width: auto;
}

#nav-bar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-item {
  display: inline;
  font-family: "Arial", sand-serif;
  font-size: 26px;
  padding: 5px;
}

.nav-link {
  text-decoration: none;
  color: rgb(252, 249, 212);
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover {
  font-weight: 700;
}

.active {
  border: 1px solid white;
  color: rgb(255, 230, 0);
}

main {
  background-color: rgb(255, 217, 252);
  padding: 12px;
}

h1 {
  text-align: center;
  font-family: "Tahoma", sans-serif;
  font-size: 36px;
  color: rgb(2, 2, 39);
}

p {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.33;
}

#profile-pic {
  max-height: 80px;
  display: block;
  width: auto;
  margin: 0 auto;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-item {
  background-size: cover;
  font-family: "Lucida Sans Unicode", sans-serif;
  min-width: 400px;
  max-width: 800px;
  max-height: 500px;
  min-height: 250px;
  padding: 10px;
  margin: 10px;
}

.project-title {
  background-color: black;
  text-decoration: none;
  font-size: 1.25em;
  color: white;
  float: right;
  padding: 5px;
  border-radius: 7px;
}

.project-title:hover {
  font-weight: 800;
}

.project-desc {
  margin: auto;
  font-size: .8em;
  font-weight: 700;
  font-style: italic;
  color: darkgray
}

.project-github {
  background-color: rgb(209, 242, 250);
  text-decoration: none;
  font-weight: 700;
  color: black;
  padding: 2px 6px;
  position: relative;
  top: 15px;
  border-radius: 10px;
}

.project-github:hover {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(48, 1, 66);
}

#contact-form {
  font-size: 20px;
}

#send-btn {
  text-align: center;
}

#send-btn button {
  font-size: 24px;
  color: white;
  background-color: green;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
}

#send-btn button:hover {
  cursor: pointer;
}

.form-field {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.form-field textarea {
  min-width: 400px;
}

.error-text {
  font-family: "Courier New", sans-serif;
  font-size: 15px;
  font-weight: 800;
  color: rgb(202, 10, 10);
  text-align: center;
}

footer {
  background-color: darkblue;
  min-height: 70px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.footer-item {
  padding: 20px;
}

.footer-item a {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: rgb(252, 249, 212);
  padding: 15px;
  text-decoration: none;
}

.footer-item a:hover {
  font-weight: 700;
  color: yellow;
}